<app-header titulo="Mi Hogar"></app-header>
<ion-content>
  
<!--
  <ion-icon name="bed-outline"> habitacion</ion-icon>
  <ion-icon name="car-sport-outline"></ion-icon>Garage
  <ion-icon name="cafe-outline">Cocina</ion-icon>
-->

<!--Esto es para que comience desde 1 el recorrido por json-->
<ion-list >
  <ion-item *ngFor="let y of websocketservice.chatMessages | slice:0; let i = index" [routerLink]="y.redirectTo" detail>
    <ion-icon [name]="y.icon" slot="start" color="primary"></ion-icon>
    {{y.name}}
  </ion-item>
</ion-list>

<!-- Botones
<ion-list *ngFor="let y of websocketservice.chatMessages | slice:0; let i = index"> 
    <ion-item>
      <ion-label> 
        Posición:{{i}}   
        Disp:{{y.name}} 
      </ion-label>
      <ion-toggle id="{{y.name}}" (ionChange)="sendWebsocket($event)"> </ion-toggle>
    </ion-item>       
</ion-list>

-->

</ion-content>
