<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding align-center" >
<div class="ion-padding-top">
  <form>
    <ion-item>
      <div>
        <ion-label >Introducir IP:</ion-label>
        <ion-input type="text" [(ngModel)]="ip" name="ip"  ></ion-input>
      </div>
    </ion-item>

    <div class="ion-text-center ion-margin-top-20">
      <ion-button type="submit" (click)="logform()" block [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active">
         Save
      </ion-button>
    </div>
    </form>
</div>      
</ion-content>




