<app-header titulo="Cocina"></app-header>

<ion-content>

 <ion-list *ngFor="let y of acciones | slice:0; let i = index"> 
    <ion-item *ngIf="y.status == 'ON'">
      <ion-label>   
        {{y.ID}}  {{y.status}}
      </ion-label>
      <ion-toggle id="{{y.ID}}" value="cocina" (ionChange)="sendWebsocket($event)" checked> </ion-toggle>
    </ion-item>      
    <ion-item *ngIf="y.status == 'OFF'">
      <ion-label>   
        {{y.ID}}  {{y.status}}
      </ion-label>
      <ion-toggle id="{{y.ID}}" value="cocina" (ionChange)="sendWebsocket($event)"> </ion-toggle>
    </ion-item>    
</ion-list>
</ion-content>
